<h1>Add a new dog</h1>

<form action="/dogs" method="POST">
    <p><label>Dog Name</label></p>
    <p></p><input type="text" name="dog[name]"></p>
    <p><label>Breed</label></p>
    <p></p><input type="text" name="dog[breed]"></p>
    <p><label>Age</label></p>
    <p><input type="number" name="dog[age]"></p>
    <p><label>image</label></p>
    <p><input type="text" name="dog[image]"></p>
    <p><label>Contact e-mail</label></p>
    <p><input type="email" name="dog[contact]"></p>
    <p><button>Submit</button></p>
</form>


